.newsletter-container {
  padding: 90px 0px 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsletter-section {
  background-color: #fafafa !important;
  padding: 40px 30px;
  max-width: 700px;
  width: 90%;
  height: 100%;
  border-radius: 20px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.newsletter-receiver {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletter-title {
  font-size: 36px !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: linear-gradient(90deg, #3ba9f0, #1e90ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.newsletter-highlight {
  font-weight: 800;
  background: linear-gradient(90deg, #197dff, #4d9aff);
  -webkit-background-clip: text;
  font-size: 50px;
  margin: 0px 12px;
  -webkit-text-fill-color: transparent;
}
.newsletter-input {
  border-radius: 45px !important; 
  border: 1px solid #ddd;
  padding-left: 40px;
  flex: 1;
  font-size: 18px;
  height: 50px;
  min-width: 300px;
  max-width: 100%;
}
.newsletter-input:focus {
  border-color: #3ba9f0 !important;
}
.newsletter-btn {
  font-size: 15px !important;
  border-radius: 40px;
  padding: 20px;
  font-size: 20px !important;
  background-color: #3ba9f0;
  border-color: #3ba9f0;
  height: 50px;
  color: #fff;
  transition: all 0.3s ease;
}
.newsletter-btn:hover {
  background-color: #197dff !important;
  color: #fff !important;
  transform: scale(1.05);
}

.newsletter-logo {
  margin-left: 12px;
  margin-right: 12px;
  color: #3ba9f0;
  font-size: 50;
  vertical-align: middle;
}
@media (max-width: 576px) {
  .newsletter-section {
      background-color: #ffffff;
      border: none;
      box-shadow: none;
      min-height: 240px;
      width: 90%;
      padding: 20px;
    }
  .newsletter-title {
    font-size: 25px !important;
    flex-direction: column;
  }
  .newsletter-highlight {
    font-size: 30px !important;
    margin: 10px;
  }
  .newsletter-receiver {
    flex-direction: column;
    gap: 15px;
  }
  .newsletter-input {
    min-width: 100%;
  }
  .newsletter-btn {
    width: 100%;
  }
  .newsletter-logo {
    font-size: 30px;
    margin: 10px;
  }
}